.App {
  text-align: center;
  font-family: 'black';
}


img{
  height:140px;
  width:100px;
}
.imgproperty{
 

  display: flex;
  flex-direction: column;
  justify-content: start;



}
.bgimg{
  background-image: url("https://images.unsplash.com/photo-1568667256549-094345857637?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bGlicmFyeXxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-size: cover;
}
.textcenter{
  text-align: center;
}